<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Motor Medics | Associates</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      .emp-home h2 {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .emp-home h4 {
        text-align: center;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <!--employee navbar-->
      <div class="emp-nav">
        <nav>
          <div class="menu">
            <div class="logo">
              <a href="/"
                ><img
                  style="width: 50%"
                  src="img/motor-medic-logo.png"
                  alt="Motor Medic"
              /></a>
            </div>
            <ul>
              <li><a href="/associate">Home</a></li>
              <li><a href="#">Workstation</a></li>
              <li><a href="/receiving">Receiving</a></li>
              <li><a href="/admin">Admin</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!--Welcome Message-->
    <section class="emp-home">
      <h2>Hello, associate.</h2>
      <h4>We are pleased to have you!</h4>
    </section>
  </body>
</html>
