<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Catalog</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2337335750.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <header>
      <nav>
        <div class="menu">
          <div class="logo">
            <a href="/"
              ><img style="width: 50%" src="img/motor-medic-logo.png"
            /></a>
          </div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/catalog">Catalog</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="workstation.html">Workstation</a></li>
            <li><a href="receiving.html">Receiving</a></li>
            <li><a href="admin.html">Admin</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="home">
      <div class="home-text">
        <h1>Parts you can trust.</h1>
        <h4>Save 10% off your first purchase when you sign up for emails!</h4>
      </div>
    </section>

    <main>
      <div class="container">
        <h2 class="cat-title">All Products:</h2>

        <ul class="row">
          <% // var size; %> <%// function sliceIntoChunks(all, size) { %> <%
          //const //res = []; %> <% //for (let i = 0 ; i < all.length; i +=
          //size) {%> <% //const chunk = all.slice (i, i + size); %> <% // res
          //push(chunk); %> <% //} %> <%// return res; } %> <%
          all.forEach((part) => { %>
          <li class="col-1">
            <div class="overlay">
              <div class="product-pic">
                <img src="<%= part.pictureURL %>" />
              </div>
            </div>
            <div class="pinfo">
              <h3><%= part.description %></h3>
              <h4>In Stock: <%= part.number %></h4>
              <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star-half-stroke"></i>
              </div>
              <p>$<%= part.price %></p>
            </div>
            <ul class="cart-icon">
              <li class="li2"><i class="fas fa-cart-plus"></i></li>
            </ul>
          </li>
          <% })%>
        </ul>
      </div>
      <section class="pages-container">
        <div class="small-container">
          <span class="next">Next</span> <span class="prev">Previous</span>
        </div>
      </section>
    </main>
  </body>
</html>
