<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!------<title> Website Home Page </title>------>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>

  <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="/"
            ><img style="width: 50%" src="img/motor-medic-logo.png"
          /></a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/catalog">Catalog</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/workstation">Workstation</a></li>
          <li><a href="/receiving">Receiving</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
      </div>
    </nav>
    <div class="img"></div>
    <div class="center">
      <div class="title">Premium Auto Parts</div>
      <div class="sub_title">Parts Shipped Next Day!</div>
      <div class="btns">
        <a href="/catalog"><button>Catalog</button></a>
        <button href="/cart">Your Cart</button>
      </div>
    </div>
  </body>
</html>
