<%- include ('partials/header') %>
<div class="img"></div>
<div class="center">
  <div class="title">Premium Auto Parts</div>
  <div class="sub_title">Parts Shipped Next Day!</div>
  <div class="btns">
    <button>New Products</button>
    <button>Subscribe</button>
  </div>
</div>
<%- include ('partials/footer') %>