<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receiving Workstation</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      nav {
        background-color: rgb(206, 69, 69);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="menu">
          <div class="logo">
            <a href="/"
              ><img
                style="width: 50%"
                src="img/motor-medic-logo.png"
                alt="Motor Medic"
            /></a>
          </div>
          <ul>
            <li><a href="/associate">Home</a></li>
            <li><a href="#">Workstation</a></li>
            <li><a href="/receiving">Receiving</a></li>
            <li><a href="#">Admin</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
